<footer class="footer">
  <a name="footer-section"></a>
  <div class="container">
    <div class="content has-text-centered">
      <div class="social-media">
        <a href={{ site.Data.homepage.contact.facebook_link }} target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href={{ site.Data.homepage.contact.instagram_link }} target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <p>&copy 2020 {{ .Title }}</p>
      <p>{{ site.Data.homepage.footer.location }}</p>
    </div>
  </div>
  <script src="../js/bulma.js"></script>
</footer>
