<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.Params.description }}">
  <meta name="author" content="{{ site.Params.author }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="images/favicon-solid-color.ico">
  <link rel="stylesheet" href="css/main.css">

  <title>{{ .Site.Title }}</title>
</head>
