<div class="scallop-up"></div>
<section class="container">
  <a name="menu"></a>
  <div class="container has-text-centered">
    <div class="columns is-8 is-variable" style="padding: 20px">
      <div class="column is-one-half has-text-left">
        <figure class="image">
          <img src={{ site.Data.homepage.menu.menu_2 }} alt="menu-parte-1">
        </figure>
      </div>
      <div class="column is-one-half has-text-left">
        <figure class="image">
          <img src={{ site.Data.homepage.menu.menu_1 }} alt="menu-parte-2">
        </figure>
      </div>
    </div>
  </div>
</section>
<div class="scallop-down"></div>
